*  {
margin:0px;
padding:0px;
}

 body {
font-size:14px;
font-family:sans-serif;
}

a {
text-decoration:none;
color:#45201c;
font-size:16;
margin:5px;
display: inline-block;
font-weight: bold;
}
.wrapper {
background:#e9f0bc;
width:1200px;
min-height: 880px;
margin: 0 auto;
clear:both;
}

.header {
width:100%;
height:200px;
border-bottom: 15px solid #45201c;
}
.lang img {
margin:0px;
width: 40px;
height: 20px;
clear:both;
}

.image {
position: relative;
width: 100%;

}

.image h2 {
position: absolute;
top: 140px;
left: 100px;
width: 100%;
color:#332f2a;
font-size:45px;
font-family:comic sans MS;
}

.menu ul {
list-style: none;
border-bottom: 5px solid #bb0000;
border-top: 1px solid #114477;
padding: 11px;
background: #336699;
}

.left {
width:940px;
padding:20px;
float:left;
clear:both;

}
.register {
margin:15px;
text-align:center;
background:#fff;
border-radius: 10px;
clear:both;
width:930px;
padding: 15px;
}
.register h3{
font-size:18px;
color:#6a3d1c;

}

.article {
clear:both;
width:930px;
padding: 15px;
background:#ffffff;
margin-bottom:10px;
}

.new_article {
background:#ffffff;
margin:10px;
padding:15px;
}

.new_article textarea {
width:800px;
height:150px;
}

.edit_article  {
background:#ffffff;
margin:10px;
padding:15px;
}

.edit_user {
background:#ffffff;
margin:10px;
padding:15px;
border-radius: 10px;
}

.info_user {
background:#ffffff;
margin:10px;
padding:15px;
border-radius: 10px;
}

.user {
background:#ffffff;
margin:10px;
padding:15px;
border-radius: 10px;

}
.user table {
border-collapse: collapse;
width: 700px;
}

.user td {
width: 350px

}

.edit_article textarea {
width:800px;
height:150px;
}

.article img {
 float:left;
 margin-right:20px;
 width:200px;
 height:150px;
}

.article p {
 text-indent: 15px;
 margin-right:10px;
 padding-top:10px;
}

.title {
text-decoration:none;
color:#45201c;
}

.title:hover {
color:#1e7e07;
}
.avatar img {
	width:150px;
	height:150px;
	margin:3px;
}

.right {
width:180px;
float:right;
padding:20px;
}

.menu menu {
width: 200px;
font-family: Helvetica, Arial, sans-serif;
color: #ffffff;
position: relative;
list-style: none;
padding: 0;
margin: 0;
}

.menu  menu a {
text-decoration:none;
font-size:13px;
color:#45201c;
font-weight: bold;
display: block;
}

.menu menu li {
height:20px;
width:180px;
}

.menu menu li:hover {
background:#e6cf4b;
}

.authorization {
background:#ffffff;
margin:5px;
padding:10px;
border-radius: 10px;
width:150px;
}

.authorization input[type="text"] {
width:140px;
}

.authorization input[type="password"] {
width:140px;
}

.authorization a {
font-size:13px;
}

.footer {
margin: 0 auto;
text-align: center;
width:1200px;
height:40px;
background:#2a2f1c;
color:#979a90;
clear:both;
}

.footer:hover {
color:#607e0a;
}
